@mixin push-button($background-color, $foreground-color, $border-color) {
  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: 0.1875em;
  box-sizing: border-box;
  color: $foreground-color;
  display: inline-block;
  font-family: inherit;
  font-size: 1em;
  min-width: 6.5em;
  padding: 0.5em 1.5em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;

  &:active,
  &:hover {
    background-color: hsl(from $background-color h s calc(l - 5));
    border-color: hsl(from $border-color h s calc(l - 5));
    outline: 0;
  }

  &:focus {
    background-color: hsl(from $background-color h s calc(l - 5));
    border-color: var(--focus-color);
    outline: 0;
  }

  &[disabled] {
    opacity: 0.4;

    &,
    &:active,
    &:focus,
    &:hover {
      background-color: $background-color;
      border-color: $border-color;
    }
  }
}

.pushButton {
  @include push-button(
    var(--color-white),
    var(--color-very-dark-grey),
    var(--color-grey)
  );
}

.primaryPushButton {
  @include push-button(
    var(--color-blue),
    var(--color-white),
    var(--color-blue)
  );

  font-weight: bold;
}
