@use "../breakpoints";

.topBar {
  --top-bar-border-color-1: hsl(from var(--color-blue) h s calc(l - 5));
  --top-bar-border-color-2: var(--color-grey);
  --top-bar-border-width: 1px;
  --top-bar-focus-background-color: hsl(from var(--color-blue) h s calc(l + 5));
  --top-bar-focus-border-width: 2px;

  background-color: var(--color-blue);
  margin: 0 calc(var(--padding) * -1);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: calc(var(--max-width) + (2 * var(--padding)));
}

.homeButton {
  align-self: center;
  align-items: center;
  display: flex;
  grid-area: 1 / 2;
  justify-self: center;
  min-height: calc(
    var(--top-bar-height) - (2 * var(--top-bar-focus-border-width))
  );
  padding: 0 calc(var(--padding) - var(--top-bar-focus-border-width));

  &:active,
  &:hover {
    background-color: var(--top-bar-focus-background-color);
  }
}

.logotype {
  fill: var(--color-white);
  height: 1.875em;
  margin-top: 0.1875em;
  width: 7.125em;
}

.tabs {
  background-color: var(--color-white);
  border: solid var(--top-bar-border-color-2);
  border-width: 0 0 var(--top-bar-border-width) 0;
  display: grid;
  grid-template-columns: 50% 50%;
  list-style: none;
  margin: 0;
  min-height: calc(var(--top-bar-height) - var(--top-bar-border-width));
  padding: 0;
}

.tabItem {
  border-left: var(--top-bar-border-width) solid var(--top-bar-border-color-2);
  display: flex;

  &:first-child {
    border-left-width: 0;
  }
}

.tab {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 0 1em;
  text-decoration: none;

  &:active,
  &:hover {
    background-color: lch(from var(--color-white) calc(l - 5) c h);
  }
}

.homeButton,
.tab {
  border: var(--top-bar-focus-border-width) solid transparent;

  &:focus {
    border-color: var(--color-orange);
    outline: 0;
  }
}

@media (min-width: breakpoints.$small) {
  .contentContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .tabs {
    background-color: transparent;
    border-color: var(--top-bar-border-color-1);
    border-width: 0 var(--top-bar-border-width) 0 0;
    display: flex;
    margin: 0 var(--padding);
    min-height: var(--top-bar-height);
  }

  .tabItem {
    border-color: var(--top-bar-border-color-1);

    &:first-child {
      border-left-width: var(--top-bar-border-width);
    }
  }

  .tab {
    color: var(--color-white);
    padding: 0 1em;

    &:active,
    &:hover {
      background-color: var(--top-bar-focus-background-color);
    }
  }
}
