:root {
  --color-blue: #2c6877;
  --color-orange: #e4682d;
  --color-red: #a00;

  --color-white: #fff;
  --color-grey: #ccc;
  --color-very-dark-grey: #333;

  --focus-color: var(--color-blue);

  --padding: 1rem;

  --min-width: 16rem;
  --max-width: 75rem;

  --top-bar-height: 3rem;

  --form-horizontal-padding: 1em;
  --form-vertical-padding-large: 1.5em;
  --form-vertical-padding-small: 0.5em;
}

body {
  font-family: var(--font-roboto);
  margin: 0 var(--padding);
  min-width: var(--min-width);
}

h1 {
  color: var(--color-orange);
  font-family: var(--font-lora);
  font-weight: bold;
}

a {
  color: var(--color-blue);
}

.pageContent {
  margin: var(--padding) auto;
  max-width: var(--max-width);
}
