.container {
  position: absolute;
  top: var(--top-bar-height);
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--padding);
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.statusCode {
  border-right: 1px solid var(--color-grey);
  margin-right: var(--padding);
  padding-right: var(--padding);
}
