name: CI
on:
  push:
  workflow_dispatch:
jobs:
  build:
    name: Build and test
    runs-on: ubuntu-24.04
    services:
      mailpit:
        image: axllent/mailpit
        ports:
          - 8025:8025
      mariadb:
        image: mariadb:lts
        env:
          MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: 1
      redis:
        image: redis
      buttercup_api:
        image: ghcr.io/smfeest/buttercup:latest
        env:
          CreateDatabaseOnStartup: true
          EnableTelemetry: false
          Email__Provider: mailpit
          Email__MailpitServer: mailpit:8025
          ConnectionStrings__AppDb: Server=mariadb;Uid=root;Database=buttercup_app;
          Redis__ConnectionString: redis,abortConnect=false,name=buttercup-app
        ports:
          - 5000:8080
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Restore dependencies
        run: npm ci
      - name: Check formatting
        run: npx prettier -c .
      - name: Build app
        run: npx next build
      - name: Install Playwright browsers
        run: npx playwright install --with-deps
      - name: Run end-to-end tests
        run: npx playwright test
